<nav class="navbar navbar-inverse  navbar-fixed-top hidden-print"
     role="navigation">

    <div class="navbar-header">

        <button type="button" title="Click for Menu"
                class="navbar-toggle"
                ng-click="navi.isCollapsed = !navi.isCollapsed"
                >

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar" title="Click for Menu"></span>
            <span class="icon-bar" title="Click for Menu"></span>
            <span class="icon-bar" title="Click for Menu"></span>
        </button>
        <a class="navbar-brand" title="Home"
           ui-sref="agile.home">
            <i class="fa fa-life-bouy"></i>
            The Orca&apos;s
        </a>
    </div>
    <div class=" navbar-collapse" collapse="navi.isCollapsed">

        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="agile.home" ui-sref-active="active">
                    Home
                </a>
            </li>
            <li>
                <a ui-sref="agile.featureA" ui-sref-active="active">
                    Images
                </a>
            </li>
            <li>
                <a ui-sref="agile.diet" ui-sref-active="active">
                    Diet
                </a>
            </li>
            <li>
                <a ui-sref="agile.mating" ui-sref-active="active">
                    Mating
                </a>
            </li>
            <li>
                <a ui-sref="agile.habitat" ui-sref-active="active">
                    Habitat
                </a>
            </li>
            <li>
                <a ui-sref="agile.names" ui-sref-active="active">
                    Scientific Names
                </a>
            </li>
            <li>
                <a ui-sref="agile.anatomy" ui-sref-active="active">
                    Anatomy
                </a>
            </li>
            <li>
                <a ui-sref="agile.behave" ui-sref-active="active">
                    Behaviour
                </a>
            </li>
            <li>
                <a ui-sref="agile.culture" ui-sref-active="active">
                    Culture
                </a>
            </li>
            <li>
                <a ui-sref="agile.communication" ui-sref-active="active">
                    Communication
                </a>
            </li>

        </ul>
    </div>
</nav>